@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
body{
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
/* Common css */
.container{
    width: 1040px;
    margin: 50px auto;
}
.marginTop{
    margin-top: 0;
}
.primaryBtn{
     width: 170px;
     height: 60px;
     color: #fff;
     background:  #FF900E 10%;
     border:none  ;
     font-size: 18px;
     border: radius 5px;
     -webkit-border-radius:5px;
     -moz-border-radius:5px;
     -ms-border-radius:5px;
     -o-border-radius:5px;
}
/* header style */

.headerWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}
.logo{
    color: #131313;
    font-weight: 900;
    font-size: 40px;
}
.headerWrapper .menu{
    display: flex;
    gap: 50px;
}
.menu a{
    text-decoration: none;
    color: #424242;
    font-weight: 500;
font-size: 18px;
}
/* hero section style start  */
.heroText{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heroText h1{
    font-weight: 700;
    font-size: 55px;

text-align: center;
color: #131313;
margin: 0;
}
.heroText p{
    font-weight: 400;
    font-size: 16px;
text-align: center;
color: #727272;
margin-bottom: 40px;
}
.heroImage img{
    width: 100%;
    margin-top: 40px;
}
/* hero section style end  */

/* quick section start */
.quckwrapp{
    display: flex;
}
.quickImages{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.teamImage img{
    width: 100%;
}
.quickText{
    margin-left: 75px;
    width: 537px;
    height: 304px;
    margin-top: 90px;

  
}

.quickText h2{
    font-weight: 500;
font-size: 45px;
}
.quickText p{
    color: #727272;
    font-weight: 400;
font-size: 16px;
}

.qucikList{
    color: #727272;   
}
.features{
    color: #FF900E;  
}

/* quick section end */